<html>

<head>
    <title>NPC App</title>
</head>

<body ng-app="npc" ng-controller="npcController">
<form action="/NPC/search/" method="post">
    <label for="npcName">Enter name: </label>
    <input id="npcName" type="text" name="npcName" placeholder="NPC Name">
    <input type="submit" value="OK">
</form>
  
  <!--     <form method="post" action="/polls/search/" class="navbar-center" >
                     <span class="col">
                        <input style="font-size: 16px;" name="searchTerm" type="search" id="findPolls"  placeholder="Search for polls" value ="">
                    </span>
                    <span class="col" id="searchIcon">
                        <input type="image" alt="submit" src="https://image.flaticon.com/icons/png/512/49/49116.png"value="Search" class="buttonToSubmit" >
                     </span>
                    
                     </form>   -->
    <div id="NPCContainer">
        <div ng-repeat="NPC in NPCs" class="NPCContainer">
          <div id="{[{NPC._id}]}">
            <a ng-href="view/{[{NPC._id}]}" >
                <h3> {[{NPC.Name}]} </h3>
            </a>
          </div>
            
              <span class="bold">Hooks:</span> <p>{[{NPC.Hook}]} </p>
        <span class="bold">Drives:</span> <p> {[{NPC.Drive}]} </p>
            <hr align="middle" width="50%">
            <table class="PhysicalDescription">
                <tr>
                    <th>Profession</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Race</th>
                </tr>
                <tr>
                    <td>{[{NPC.Profession}]}</td>
                    <td>{[{NPC.Age}]}</td>
                    <td>{[{NPC.Gender}]}</td>
                    <td> {[{NPC.Race}]}</td>
                </tr>
            </table>
            <hr align="middle" width="50%">
            <table class="MentalDescription">
                <tr>
                    <th>Brief Personality</th>
                    <th>Work Location and Activity</th>
                    <th>Type of Faction</th>
                </tr>
                <tr>
                    <td>{[{NPC.persBrief}]}</td>
                    <td>{[{NPC.Location}]}</td>
                    <td>{[{NPC.FactionType}]}</td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/controllers/NPCController.client.js"></script>
</body>

</html>