<html>

<head>
    <title>NPC App</title>

</head>

<body ng-app="npc" ng-controller="npcController">

    <div id="NPCContainer">
        <div ng-repeat="NPC in NPCs" class="NPCContainer">
         <a ng-href="view/{[{NPC._id}]}">  <h3>
            {[{NPC.Name}]}
          </h3> </a>
            <p>
                Hooks: {[{NPC.Hook}]}
            </p>
            <p>
                Drives: {[{NPC.Drive}]}
            </p>
          <hr align="middle" width="50%">
            <table class="PhysicalDescription">
                <tr>
                    <th>Profession</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Race</th>
                </tr>
                <tr>
                    <th>{[{NPC.Profession}]}</th>
                    <th>{[{NPC.Age}]}</th>
                    <th>{[{NPC.Gender}]}</th>
                    <th> {[{NPC.Race}]}</th>
                </tr>

            </table>
          <hr align="middle" width="50%">
            <table class="MentalDescription">
                <tr>
                    <th>Brief Personality</th>
                    <th>Locations and Downtime</th>
                    <th>Type of Faction</th>

                </tr>
                <tr>
                    <th>{[{NPC.persBrief}]}</th>
                    <th>{[{NPC.Location}]}</th>
                    <th>{[{NPC.FactionType}]}</th>

                </tr>

            </table>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/controllers/NPCController.client.js"></script>
</body>

</html>