
<!DOCTYPE html>
<h2 class="page-header">View NPCs</h2> 
<html>
<head>
    <title>Voting App</title>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="anchor">We could find no NPCs by that search term</div>
    <script type="text/javascript" src="/controllers/voteController.client.js"></script>
</body>
</html>