
<!DOCTYPE html>
<html>
<head>
    <title>Voting App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  HELLOOOO
<!--	<h3 id="question"> </h3>
   <div id="status"></div>
  <div id="results"></div>
   <div class="radio-toolbar">
   <div id="openRadio"></div>
  <div id="responses"> </div>
  </div>
  <div id="Validation">
  <div id="captcha_container"></div>
  </div>
  <br />
  <div id="votingButton">
  <button type='submit' id="makeVisible" class="submitButton" style="visibility: hidden;" > Vote </button>
  </div>
  <br /> -->
    <script type="text/javascript" src="/controllers/getSpecificNPC.client.js"></script>
</body>
</html>