input.ng-invalid {
    background-color:pink;
}
input.ng-valid {
    background-color:lightgreen;
}


textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}

#createNPCFORM input, #createNPCFORM textarea{display: block;}

/* NPC Listing */

table {
  border-collapse: collapse;
  width: 100%; 
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

hr{
  border-top: 1px solid #CAD2B9;
}

#NPCContainer{
  margin: 0 auto; 

}

.NPCContainer{
  border: 1px solid black; 
  padding: 5px;
  margin: 5px 0px; 
}
/*
.limit{
   width: 200px; 
    overflow: hidden; 
    border: 1px solid #f00;
    text-overflow: ellipsis;
    white-space: nowrap; 
}*/